// Page global variables
$font-family: "Roboto", sans-serif;
$font-size: 16px;
$font-color: #ffffff;
$background-color: #262b43;

// Path: app/components/components.module.scss

// Panels
$panel-background-color: #2c3c65;
$resize-handle-normal-color: transparent;
$resize-handle-active-color: #9da2a8;

// Viewport
$fullscreen-button-color: #2a2a2a;

// Ambiances
$ambiance-entry-background-color: #131a2c00;
$ambiance-entry-hover-background-color: #47526c;
$ambiance-entry-selected-background-color: #415a93;
$file-uploader-border-color: #6e6e6e;
$file-uploader-background-color: #2c3c65;
$file-uploader-hover-background-color: #47526c;

// Debugging
$debug-text-color: #ffffff;
$debug-text-color-success: #28a745;
$debug-text-color-warning: #ffc107;
$debug-text-color-error: #dc3545;
$debug-background-color: #222d38;
$debug-border-color: #6e6e6e75;
